<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Charities of Salt Lake City</h1>
		<p class="lead">This is a simple website designed to help native Utahns learn a little more about local charities.</p>
		<hr class="my-4">
		<p>Free to make a profile! We'd love to hear your experiences.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Click me if your feeling giving$$$$</a>
		</p>
	</div>
	<!-- cards contain information about the website -->
	<div class="container">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="card d-block w-100" >
						<div class="card-body">
							<h5 class="card-title">Find the best of Salt Lake City</h5>
							<h6 class="card-subtitle mb-2 text-muted">Special Shout Outs</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Article link</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card d-block w-100" >
						<div class="card-body">
							<h5 class="card-title">Don't open your wallet for any organization!</h5>
							<h6 class="card-subtitle mb-2 text-muted">Beat the scam!</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Article link</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card dark" >
						<div class="card-body">
							<h5 class="card-title">Shelter in need of HELP!</h5>
							<h6 class="card-subtitle mb-2 text-muted">Discover what you can do!</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">Article link</a>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>			
	</div>
</div>